
{% extends 'base_logged_in.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block logged_in_content %}
    <div class="main-content bgc-grey-100">
        <div class="mainContent">
            <div class="row gap-20">
                {# Linke Spalte: Tagesübersicht #}
                <div class="col-md-3">
                    <div class="bdrs-3 ov-h bgc-white bd">
                        <div id="day-header" class="bgc-deep-purple-500 ta-c p-30">
                            <h1 id="day-number" class="fw-300 mB-5 lh-1 c-white">
                                <span id="day-number-text">{{ "now"|date("d.m.Y") }}</span><span class="fsz-def" id="day-suffix"></span>
                            </h1>
                            <h3 id="day-name" class="c-white">
                                {% set days = ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'] %}
                                {{ days["now"|date("w")] }}
                            </h3>
                        </div>
                        <div class="pos-r">
                            <button type="button" id="add-appointment-btn" class="mT-nv-50 pos-a r-10 t-2 btn cur-p bdrs-50p p-0 w-3r h-3r btn-warning">
                                <i class="ti-plus"></i>
                            </button>
                            <ul class="m-0 p-0 mT-20" id="day-events-list">
                                <li class="bdB peers ai-c jc-sb fxw-nw p-20">
                                    <div class="c-grey-600">
                                        <span>Keine Termine</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                {# Rechte Spalte: Kalender #}
                <div class="col-md-9">
                    <div class="layers bd bgc-white p-20">
                        <div class="layer w-100 mB-20">
                            <h6 class="lh-1">Kalender</h6>
                            <small class="c-grey-600">Einfacher Klick: Tagesansicht anzeigen | Doppelklick: Termin anlegen</small>
                        </div>
                        <div class="layer w-100">
                            <div id="dashboard-calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Modal für Termin erstellen/bearbeiten #}
    <div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="appointmentModalLabel">Neuer Termin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="appointmentForm">
                        <input type="hidden" id="appointmentId">
                        <input type="hidden" id="appointmentColor" value="#4285f4">

                        <div class="mb-3">
                            <label for="appointmentTitle" class="form-label">Titel *</label>
                            <input type="text" class="form-control" id="appointmentTitle" required>
                        </div>

                        <div class="mb-3">
                            <label for="appointmentDescription" class="form-label">Beschreibung</label>
                            <textarea class="form-control" id="appointmentDescription" rows="3"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="appointmentStart" class="form-label">Start *</label>
                            <input type="datetime-local" class="form-control" id="appointmentStart" required>
                        </div>

                        <div class="mb-3">
                            <label for="appointmentEnd" class="form-label">Ende *</label>
                            <input type="datetime-local" class="form-control" id="appointmentEnd" required>
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="appointmentAllDay">
                            <label class="form-check-label" for="appointmentAllDay">Ganztägig</label>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Farbe</label>
                            <div class="d-flex gap-2 flex-wrap">
                                <div class="color-option selected" data-color="#4285f4" style="width: 40px; height: 40px; background-color: #4285f4; border-radius: 5px; cursor: pointer; border: 3px solid transparent;"></div>
                                <div class="color-option" data-color="#0f9d58" style="width: 40px; height: 40px; background-color: #0f9d58; border-radius: 5px; cursor: pointer; border: 3px solid transparent;"></div>
                                <div class="color-option" data-color="#f4b400" style="width: 40px; height: 40px; background-color: #f4b400; border-radius: 5px; cursor: pointer; border: 3px solid transparent;"></div>
                                <div class="color-option" data-color="#db4437" style="width: 40px; height: 40px; background-color: #db4437; border-radius: 5px; cursor: pointer; border: 3px solid transparent;"></div>
                                <div class="color-option" data-color="#ab47bc" style="width: 40px; height: 40px; background-color: #ab47bc; border-radius: 5px; cursor: pointer; border: 3px solid transparent;"></div>
                                <div class="color-option" data-color="#00acc1" style="width: 40px; height: 40px; background-color: #00acc1; border-radius: 5px; cursor: pointer; border: 3px solid transparent;"></div>
                                <div class="color-option" data-color="#ff7043" style="width: 40px; height: 40px; background-color: #ff7043; border-radius: 5px; cursor: pointer; border: 3px solid transparent;"></div>
                                <div class="color-option" data-color="#9e9e9e" style="width: 40px; height: 40px; background-color: #9e9e9e; border-radius: 5px; cursor: pointer; border: 3px solid transparent;"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-danger" id="deleteAppointmentBtn" style="display: none;">Löschen</button>
                    <button type="button" class="btn btn-primary" id="saveAppointmentBtn">Speichern</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
